.listeprof{
    background-color: var(--light3);
    height: 200px;padding: 4px;
}
.liste{
height: 200px;
    border-radius: 10px;
    margin: 20px;
    width: 90%;
  text-align: center;
}
.liste table{border: 2px solid var(--light1);
    width: 100%;border-radius: 10px;
    margin: auto 20px;
    
}
.liste table th{border-radius: 10px;
    background-color:var(--light1) ;text-align: center;
    border: 2px solid #fff;padding: 10px;color: #fff;
}
.liste table td{
    border: 2px solid var(--light1);padding: 10px;text-align: center;
}