.connexion2 {
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: absolute;
    position: fixed;
    z-index: 9;
    background-color: rgba(255, 255, 255, 0.685);

}

.contain2 {
    background-color: rgb(255, 255, 255);
    margin: 10px;
    width: 500PX;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
    border: solid 2px var(--primary);
    top: 50%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
}

.reteur {
    padding: 0px 10px;
    cursor: pointer;
}

.prof {
    border: solid 2px var(--secondary);
}

.titre2 {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}



.type {
    width: 100%;

    display: flex;
    justify-content: space-around;
}

.type div {
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    font-size: 1.1em;
    border-radius: 5px;
    margin: 5px 1em;
    padding: 10px 20px;
    background-color: var(--light3);
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}

.type .isnow {
    border-bottom: 4px solid var(--primary);
    border-top: 4px solid var(--primary);
}

.type .isnow2 {
    border-bottom: 4px solid var(--secondary);
    border-top: 4px solid var(--secondary);
}

form input {
    width: 100%;
    margin: 10px 0px;
    padding: 4px 15px;
    height: 50px;
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid var(--light1);
}

form input.active {
    border-bottom: 2px solid var(--secondary);
}

form input:focus {
    outline: none;
    border-radius: 5px;
    border: 2px solid var(--light1);
    padding: 15px;
}

form input.active:focus {
    outline: none;
    border-radius: 5px;
    border: 2px solid var(--secondary);
    padding: 15px;
}

form .submet {
    margin: 20px 0px 4px;
    text-align: center;
    background-color: var(--primary);
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

form .submet.active {
    margin: 20px 0px 4px;
    text-align: center;
    background-color: var(--secondary);
    border: none;
    color: rgb(255, 255, 255)
}

.Mot_passe_oublié {
    text-align: center;
    font-weight: bold;
    text-decoration: none;

}


@media only screen and (max-width: 768px) {
    .contain2 {
        width: 300PX;
    }

    .type div {

        font-size: 1em;

        margin: 5px;
        padding: 10px;
    }
}